<div id="page" class="projectForm">
  <header>
    <button (click)="logout()" class="basic-btn">Logout</button>
  </header>
  <div>
    <hr>
    <div class="projectInfo">
      <span class="projectTitle">{{project.project.name}}</span><br>
      <span class="projectDescription">{{project.project.description}}</span>
    </div>
    <hr>
  <div class="personPanel">

      <div class="personInfo" *ngFor="let template of templateList">
        <button class="btn btn-default" (click)="select(template.$key)">
          <span style="font-weight: bold">{{template.role}}</span><br>
          <span>{{template.description}}</span><br>
        </button><br><br>
        <div *ngFor="let person of template.people" class="personDisplay">
          <div class="profileImage">
            <img id="profileImg{{person.$key}}" src="https://pbs.twimg.com/profile_images/378800000822867536/3f5a00acf72df93528b6bb7cd0a4fd0c.jpeg" alt="img"/>
          </div>
          <div style="display:inline-block; margin-left: 10px;">
            <div class="personName">{{person.name}}</div>
            <div class="personDescription">{{person.aantekeningen}}</div>
          </div>
          <br><br>
        </div>
      </div>

  </div>

    <div class="tools">
      <button class="new nav-button" (click)="new()" *ngIf="project.isAnalyst">Nieuw</button>
      <button class="back nav-button" (click)="back()">Terug</button>
    </div>
  </div>
</div>
