#lock {
  width:40%;
  margin: 1.5em auto 4em auto;
  display:block;
}

#fb {
  background:#3B5998 no-repeat 14px 6px;
  background-size: 47px;
  color:#fff;
}

#google {
  border: 0px solid #95989A;
  border-radius: 6px;
  color: white;
  font-size: 24px;
  background: red;
  background-size: 0px;
  padding: 20px;
}

#google .fa:before{
  font-size: 30px;
}

#google span{
  line-height: 30px;
}

#email {
  background: #ECECEC  no-repeat 25px;
  background-size: 25px;
}

@media (max-width: 600px) {
  #page {
    padding:1em;
  }
  #toolbar {
    width:90%;
    margin-left: -45%;
  }
  #fb {
    background:#3B5998;
  }

  #google {
    border: 0px solid #95989A;
    border-radius: 6px;
    color: white;
    font-size: 20px;
    background: red;
    background-size: 0px;
    padding: 20px;
  }

  #google .fa:before{
    font-size: 26px;
  }

  #google span{
    line-height: 30px;
  }

  #email {
    background: #ECECEC;
  }

  H1 {
    font-size:24px;
    text-align: center;
  }
}
