<div class="form-container">
  <H1>Login to your account!</H1>
<BR>

  <span class="error" *ngIf="error">{{ error }}</span>

  <!--<button (click)="loginFb()" id="fb">Login With Facebook</button><br>-->


  <button (click)="loginGoogle()" id="google"><i class="fa fa-google-plus" aria-hidden="true"></i><span> Sign in with Google! </span></button>

  <!--<button (click)="loginGoogle()" id="google"><img src="../../../assets/Images/GoogleLoginIcon.png"/></button>-->
  <!--<button routerLink="/login-email" id="email">Email</button>-->

  <!--<a routerLink="/signup" routerLinkActive="active" class="alc">No account? <strong>Create one here</strong></a>-->
</div>
