<div id="page" class="projectForm">
  <header>
    <button (click)="logout()" class="basic-btn">Logout</button>
  </header>
  <div>
    <hr>
    <div class="projectInfo">
      <span class="projectTitle">{{template.role}} ({{project.project.name}})</span><br>
      <span class="projectDescription">{{template.description}}</span>
      <div style="margin-top: 10px;">
        <button class="btn btn-default" style="width: auto; margin-right: 50px;" *ngIf="project.isAnalyst" (click)="editTemplate(template.$key)">
          Bewerken
        </button>
        <button class="btn btn-default" style="width: auto;" *ngIf="project.isAnalyst" (click)="archiveren(template.$key)">
          Archiveren
        </button>
      </div>
    </div>
    <hr>
    <div class="personDisplayPanel">
      <div class="personInfo" *ngFor="let person of people">
        <div style="border: 2px solid #e7e7e7; padding: 10px;">
          <div class="profileImage">
            <img id="profileImg{{person.$key}}" src="https://pbs.twimg.com/profile_images/378800000822867536/3f5a00acf72df93528b6bb7cd0a4fd0c.jpeg" alt="img"/>
          </div>
          <div style="display:inline-block; margin-left: 10px;">
            <div class="personName">{{person.name}}</div>
            <div class="personDescription">{{person.aantekeningen}}</div>
            <br>
            <div>{{person.email}}</div>
            <div>{{person.telefoon}}</div>
            <div>{{person.functie}}</div>
          </div>
          <br><br>
          <button class="btn btn-default" *ngIf="project.isAnalyst" (click)="editPerson(person.$key)">
            Bewerken
          </button>
          </div>
          <br>
      </div>
    </div>
    <div class="tools">
      <button class="new nav-button" (click)="new()" *ngIf="project.isAnalyst">Nieuw</button>
      <button class="back nav-button" (click)="back()">Terug</button>
    </div>
  </div>
</div>
