.projectForm{
  background: white;
  padding: 3.5em;
  width: 80%;
  position: fixed;
  margin-left: 10%;
}

.projectTitle{
  font-weight: bold;
  font-size: medium;
}

.projectDescription{
  font-style: italic;
}

.personDisplay{
  margin-left: 15%;
}

.profileImage {
  display:inline-block;
  vertical-align:top;
  width: 55px;
}

.personName{
  font-weight: bold;
}

.personDescription{
  font-style: italic;
}

.personDisplayPanel {
  width:100%;
  height:500px;
  overflow-y:scroll;
  border-style: solid;
  border-width: thin;
  border-color: #BBBBBB;
}
@media (max-width: 600px) {
  .personDisplayPanel {
    height:250px!important;
  }
}

.projectInfo{
  text-align: center;
}

.personInfo{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.back {
  width: auto;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #e7e7e7;
  color: black;
  border: 2px solid #e7e7e7;
  margin-right: 50px;
}

.back:hover {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}

.new {
  width: auto;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: 2px solid #4CAF50;
}

.new:hover {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

.tools{
  margin-top: 15px;
  text-align: center;
}
