<div id="page" class="projectForm">
  <header>
    <button (click)="logout()" class="basic-btn">Logout</button>
  </header>
  <div>
    <hr>
    <div class="projectInfo">
      <span class="projectTitle">{{project.project.name}}</span><br>
      <span class="projectDescription">{{project.project.description}}</span>

    <hr>



      <form novalidate [formGroup]="form">

        <md-input-container >
          <label style="font-size: 1em">Actor: </label>
          <input mdInput

                 style="font-size: 1em; width:400px"
                 formControlName="role"
                 type="text"
                 required/>
        </md-input-container>
        <br/>


        <md-input-container>
          <label style="font-size: 1em">Beschrijving: </label>
          <input mdInput
                 style="font-size: 1em; width:400px"
                  formControlName="description"
                  type="text"
                  required/>
        </md-input-container>
        <br/>


      </form>


    </div>
    <div class="tools">
      <!--<button md-button class="back nav-button" (click)="back()">Terug</button>-->
      <!--<button md-button class="new nav-button" [disabled]="!form.valid"  (click)="new()" *ngIf="project.isAnalyst">Nieuw</button>-->

      <button md-button class="new nav-button" [disabled]="!form.valid" (click)="new()" *ngIf="project.isAnalyst">
        <span class="glyphicon glyphicon-lock" *ngIf="!form.valid"></span>
        <span *ngIf="form.valid">Nieuw</span>
      </button>
      <button md-button class="back nav-button" (click)="back()">Terug</button>


    </div>
  </div>
</div>
