@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';


.card30perc{
  width:30%;
}


.card50perc{
  width:50%;
}

table.tabData th{

  text-align: left;
  background-color: #390365;
  color:#fff;

}

table.tabData td{

  padding:10px ;
  font-size: 1em;
  background-color: #dddddd;
}

table.strucTable td{
  vertical-align: top;
}


body {
  background:#E2E4E6;
  padding-top:4em;
}

.form-container {
  background:white;
  padding:3.5em;
  width:500px;
  position:fixed;
  left:50%;
  margin-left:-250px;
}

button {
  padding:1.2em;
  width:100%;
  cursor:pointer;
  margin-bottom:15px;
  font-size:1.3em;
}

.basic-btn {
  background: #3B8598;
  color:white;
}

input.txt {
  background:#fff !important;
  padding:1.3em 1em;
  font-size:1.3em;
  border: 1px solid #BBBBBB;
}

h2 {
  margin: 1.7em 0 .9em 0;
}

.alc {
  text-align:center;
  display:block;
  margin: 15px 0;
}

.error {
  background:#f1f0ef;
  padding:1em;
  width:100%;
  display:block;
  margin-bottom:20px;
}

#goback {
  font-weight:bold;
  text-transform:uppercase;
  font-size:.8em;
  color:#3B8598;
}
#goback span {
  font-size:1em;
}



.loading {
  width: 30px;
  height: 30px;
  border: 5px solid #ccc;
  position: fixed;
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;
  border-radius: 50%;
}


.loading:after {
  content: '';
  position: absolute;
  width: 40px;
  height: 10px;
  background: #E2E4E6;
  top: 10px;
  left: -5px;
  animation: spin 1.2s infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.mat-input-element { box-shadow: none; margin: 0 0 0rem; }
[type=text]:focus { border: 0px solid #8a8a8a; box-shadow: none; padding-top: 10px; }
.mat-input-placeholder.mat-empty { font-size: 1em; }
.mat-input-container { padding: 5px 5px 5px 0px; }
.personTest{overflow-y:scroll;}

@media (max-width: 600px) {
  body {
    padding-top:0px;
    background: white;
  }

  .form-container {
    padding:1.2em;
    width:90%;
    margin-left:-45%;
  }
  button {
    font-size:1em;
    width: 100%;
  }

  .mat-input-container { width: 100%!important; }
  .nav-button { width: 100%!important; }
  .personInfo .btn span { white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap; }
  .projectForm { width: 100%!important; margin-left: 0px!important; padding: 10px 30px 0px 30px!important; }
  .personPanel { height: 300px!important; }
  .personDisplay { margin-left: 0%!important;  }
  .personTest {
    height: 250px!important;
    width: 100%;
    overflow-y:scroll;
    border-style: solid;
    border-width: thin;
    border-color: white;
  }
}
