<div class="form-container" id="toolbar">
  <header [@fallIn]="state">
    <button (click)="logout()" class="basic-btn">Logout</button>
  </header>
  <div id="page" [@moveInLeft]="state">
    <hr>
    <div *ngFor="let pro of projects">
      <div *ngIf="pro.canView">
        <button class="btn btn-default" (click)="navigate(pro.project.$key)">
          <span style="font-weight: bold">{{pro.project.name}}</span><br>
          <span>{{pro.project.description}}</span><br><i *ngIf="pro.isAnalyst" class="glyphicon glyphicon-edit"></i>
        </button>
      <br><br>
      </div>
    </div>
  </div>
</div>
