.projectForm{
  background: white;
  padding: 3.5em;
  width: 80%;
  position: fixed;
  margin-left: 10%;
}

.projectTitle{
  font-weight: bold;
  font-size: medium;
}

.projectDescription{
  font-style: italic;
}

.personDisplay{
  margin-left: 15%;
}

.profileImage {
  display:inline-block;
  vertical-align:top;
  width: 100px;
  maring-right: 15px;
}

.personName{
  font-weight: bold;
}

.personDescription{
  font-style: italic;
}

.personPanel {
  width:100%;
  height:500px;
  overflow-y:scroll;
  border-style: solid;
  border-width: thin;
  border-color: #BBBBBB;
}

.projectInfo{
  text-align: center;
}

.personInfo{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.back {
  width: auto;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #e7e7e7;
  color: black;
  border: 2px solid #e7e7e7;
  margin-right: 50px;
}

.back:hover {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}

.new {
  width: auto;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: 2px solid #4CAF50;
}

.new:hover {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

.tools{
  margin-top: 15px;
  text-align: center;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  font-size: 1em;
  font-weight: normal;
  display: inline-block;
  border-color: #E2E4E6;
  border-width: thin;
  border-style: solid;
  border-radius: 2px;
  padding: 5px;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: #E2E4E6;
}

.inputfile + label {
  cursor: pointer; /* "hand" cursor */
}
