<div id="page" class="projectForm">
  <header>
    <button (click)="logout()" class="basic-btn">Logout</button>
  </header>
  <div>
    <hr>
    <div class="projectInfo">
      <span class="projectTitle">{{template.role}} ({{project.project.name}})</span><br>
      <span class="projectDescription">{{template.description}}</span>
    </div>
    <hr>
    <div class="personTest">
      <div class="profileImage">
        <img id="profileImg" style="margin-bottom: 15px;" src="https://pbs.twimg.com/profile_images/378800000822867536/3f5a00acf72df93528b6bb7cd0a4fd0c.jpeg" alt="img"/>
        <form action="profile_pic.asp">
          <input #chosenImage id="chosenImage" type="file" name="pic" accept="image/*" (change)="changeImage(chosenImage)" class="inputfile" >
          <label for="chosenImage"><span class="glyphicon glyphicon-upload"></span> Kies afbeelding</label>
        </form>
      </div>
    <!--<div class="personTest">-->
      <div style="display:inline-block; margin-left:5%">
      <form novalidate [formGroup]="form">
        <md-input-container>
           <label style="font-size: 1em;">Voer een naam in: *</label>
           <input mdInput style="font-size: 1em; width:400px"
                 formControlName="name"
                 type="text"
                 required/>
        </md-input-container><br>
        <md-input-container>
           <label style="font-size: 1em;">Voer aantekingen in:</label>
           <input mdInput style="font-size: 1em; width:400px"
                 formControlName="aantekeningen"
                 type="text"/>
        </md-input-container><br>
        <md-input-container>
          <label style="font-size: 1em;">Voer een e-mail in: *</label>
          <input mdInput style="font-size: 1em; width:400px"
                 formControlName="email"
                 type="text"
                 required/>
        </md-input-container><br>
        <md-input-container>
          <label style="font-size: 1em;">Voer telefoonnummer in:</label>
          <input mdInput style="font-size: 1em; width:400px"
                 formControlName="telefoon"
                 type="text"/>
        </md-input-container><br>
        <md-input-container>
          <label style="font-size: 1em;">Voer functie in:</label>
          <input mdInput style="font-size: 1em; width:400px"
                 formControlName="functie"
                 type="text"/>
        </md-input-container>
      </form>
      </div>
    </div>
    <div class="tools">
      <button md-button class="new nav-button" [disabled]="!form.valid" (click)="new()" *ngIf="project.isAnalyst">
        <span class="glyphicon glyphicon-lock" *ngIf="!form.valid"></span>
        <span *ngIf="form.valid">Toevoegen</span>
      </button>
      <button md-button class="back nav-button" (click)="back()">Terug</button>
    </div>
  </div>
</div>
